/*
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Titillium Web', sans-serif;
*/
$maven-pro: 'Maven Pro', sans-serif;
$titillium: 'Titillium Web', sans-serif;

$ps-orange: #FF6F00;
$ps-blue: #082868;

html {
	font-size: 16px;

	.orange {
		color: $ps-orange;
	}

	h2,
	h3 {
		font-family: $titillium;
	}	

	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.no-margin-bottom {
		margin-bottom: 0 !important;
	}

	section {
		height: 100vh;
		width: 100vw;
	}

	.header {
		text-align: center;
	}

	.logo-btn {
		color: white;
		background: $ps-blue;
		padding: 0.5rem;
	}

	#main-nav {
		padding: 2rem 0;
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;

		.nav-item.active {
			color: $ps-orange;
		}
	}

	#contact-container {
	    margin-top: 2rem;
	    margin-bottom: 2rem;

		#envelope-icon,
		#phone-icon {
			margin-right: 1rem;
		}
		#envelope-icon {

		}
		#phone-icon {
			/*margin-left: 1rem;*/
		}
		.social-icon:not(:first-child) {
			margin-left: 1rem;
		}

		@media screen and (max-width: 600px) {
			.row > div[class*='col'] {
				text-align: center;
			}			
		}
	}

	#featured-product-container {
		background: white;
		margin: 5rem 0;

		#product-details {
			#increment,
			#decrement {
				cursor: pointer;
			}

			#price {
				font-weight: bold;
				color: grey;
				font-family: $titillium;
			}
		}
	}

	#related-products-container {
		background-color: #eeeeee;
		padding: 2rem;

		img {
			display: inline-block;
		}
	}

	#newsletter-container {
		background: white;
		padding: 2rem;
		margin-top: 2rem;

		input {
			border: 0;
		}

		#join-us-btn {
			padding: 0.5rem;
			background-color: $ps-orange;
			color: white;
			font-style: italic;
		}
	}

	#footer-container {
		background: white;
		margin-top: 5rem;

		.fa-credit-card {
			width: 20%;
		}
	}

	.product {
		background: white;
/*		width: 23%;
		float: left;*/

		.product-img {
			padding: 1rem;
		}

		.product-title,
		.product-price {
			color: grey;
		}

		.product-img,
		.product-title,
		.product-price {
			text-align: center;
		}

		.product-title {

		}

		.product-price {

		}

		> div {
			margin-bottom: 1rem;
		}
	}

	#mini-pics-container {
		margin-top: 3rem;

		button {
			img {
				max-width: 5rem;
				min-width: 5rem;
			}
		}

		@media screen and (max-width: 600px) {
			margin-bottom: 2rem;

			> div {
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	html {
	
	}
}

@media screen and (max-width: 600px) {
	html {
		
	}
}