html {
	font-size: 16px;

	.orange {
		color: orange;
	}

	section {
		height: 100vh;
		width: 100vw;
	}
	
	#contact-container {
		#envelope-icon,
		#phone-icon {
			margin-right: 1rem;
		}
		#envelope-icon {

		}
		#phone-icon {
			margin-left: 1rem;
		}
		.social-icon {
			margin-left: 1rem;
		}
	}

	#product-container {
		background-color: #eeeeee;
	}
}

@media screen and (max-width: 900px) {
	html {
	
	}
}

@media screen and (max-width: 600px) {
	html {
		
	}
}